{% extends 'sales/base.html' %}

{% load standard_ui i18n money %}

{% block content %}
<h3>{% trans "Orders" %}</h3>

<div>
    {% filter_form form %}
</div>

<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>{% trans "Reference" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Products" %}</th>
            <th>{% trans "Amount" %}</th>
            <th>{% trans "OrderItem mode" %}</th>
            <th>{% trans "Payer" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td><a href="{{ order.get_absolute_url }}">{{ order.pk }}</a></td>
            <td>{{ order.payment_date }}</td>
            <td>{{ order.nb_items }}</td>
            <td>{{ order.amount|price }}</td>
            <td>{{ order.payment_mode.reference }} ({{ order.payment_mode.get_kind_display }})</td>
            <td><a href="{{ order.payment_mode.owner.get_absolute_url }}">{{ order.payment_mode.owner.get_full_name }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


