{% extends 'sales/base.html' %}

{% load i18n money %}

{% block content %}
<h3>{% blocktrans with order_id=order.pk %}Order #{{ order_id }}{% endblocktrans %}</h3>

<dl class="dl-horizontal">
    <dt>{% trans "Date" %}</dt><dd>{{ order.payment_date }}</dd>
    <dt>{% trans "OrderItem mode" %}</dt>
        <dd><samp>{{ order.payment_mode.reference }}</samp> ({{ order.payment_mode.get_kind_display }})</dd>
    <dt>{% trans "Payer" %}</dt><dd><a href="{{ order.payment_mode.owner.get_absolute_url }}">{{ order.payment_mode.owner.get_full_name }}</a></dd>
    <dt>{% trans "Amount" %}</dt><dd>{{ order.amount|price }}</dd>
    <dt>{% trans "Recurring" %}</dt><dd>{{ order.recurring|yesno:_("Yes,No,Unknown") }}</dd>
</dl>

<table class="table table-stripped table-hover table-condensed">
    <thead>
        <tr>
            <th>{% trans "Product" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Unit price" %}</th>
            <th>{% trans "Total price" %}</th>
            <th>{% trans "User" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for order_item in order_items %}
        <tr>
            <td>{{ order_item.product_price.product.name }} ({{ order_item.product_price.product.get_kind_display }})</td>
            <td>{{ order_item.amount }}</td>
            <td>{{ order_item.unit_price|price }}</td>
            <td>{{ order_item.total_price|price }}</td>
            <td><a href="{{ order_item.user.get_absolute_url }}">{{ order_item.user.get_full_name }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


