{% extends "base.html" %}
{% load i18n money %}
{% block content %}
<div class="col-lg-4">
    <h1>{% trans "Metrics" %}</h1>
    <table class="table h3">
        <tr>
            <th>{% trans "Orders" %}</th>
            <td><span class="label label-default">{{ orders }}</span></td>
        </tr>
        <tr>
            <th>{% trans "Sold" %}</th>
            <td><span class="label label-info">{{ sold|price }}</span></td>
        </tr>
        <tr>
            <th>{% trans "Up to date contributors" %}</th>
            <td><span class="label label-success">{{ active_contributors }}</span></td>
        </tr>
        <tr>
            <th>{% trans "J&R subscribers" %}</th>
            <td><span class="label label-success">{{ jr_subscribed }}</span></td>
        </tr>
    </table>
</div>
{% endblock %}
